body {
  font-family: Arial, sans-serif;
  background-color: #a1abb6;
  text-align: center;
  padding: 20px;
}
h1 {
  font-size: 40px;
}

input, button {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

button {
  background-color: #3498db;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #a1abb6;
}

#albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.albumi {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 10px;
  width: 220px;
  overflow: hidden;
}

.albumi img {
  padding-top: 20px;
  margin: auto;
  width: 180px;
  height: auto;
  display: block;
}

.kappaleet-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s;
  overflow-y: auto;
}

.albumi:hover .kappaleet-overlay {
  opacity: 1;
}
.albumi ul {
  text-align: left;
  padding-left: 20px;
}
